<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: cornsilk">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/addbook">AddBook</a>
                  </li>
                  <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="/viewbook">ViewBook</a>
                        </li>
                </ul>
            </nav>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">In Search Of Lost Time</div>
                    <div class="card-body text-primary">
                      <h5 class="card-title">Marcel Proust</h5>
                      <h6 class="card-title">Published on:1971</h6>
                      <h6 class="card-title">price:340/-</h6>
                      <p class="card-text">Swann's Way, the first part of A la recherche de temps perdu, Marcel Proust's seven-part cycle, was published in 1913</p>
                    </div>
                  </div>
                  <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Don Quixote</div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Miguel de Cervantes</h5>
                      <h6 class="card-title">Published on:1920</h6>
                      <h6 class="card-title">price:940/-</h6>
                      <p class="card-text">Alonso Quixano, a retired country gentleman in his fifties, lives in an unnamed section of La Mancha with his niece and a housekeeper</p>
                    </div>
                  </div>
                  <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Ulysses</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">James Joyce</h5>
                      <h6 class="card-title">Published on:1941</h6>
                      <h6 class="card-title">price:840/-</h6>
                      <p class="card-text">Ulysses chronicles the passage of Leopold Bloom through Dublin during an ordinary day, June 16, 1904. The title parallels and alludes to Odysseus (Latinised into Ulysses), the hero of Homer's Odyss...</p>
                    </div>
                  </div>
                  <div class="card border-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">The Great Gatsby</div>
                    <div class="card-body text-danger">
                      <h5 class="card-title">F.scott</h5>
                      <h6 class="card-title">Published on:1911</h6>
                      <h6 class="card-title">price:640/-</h6>
                      <p class="card-text">The novel chronicles an era that Fitzgerald himself dubbed the "Jazz Age". Following the shock and chaos of World War I, American society enjoyed unprecedented levels of prosperity during the "roar...</p>
                    </div>
                  </div>
                  <div class="card border-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">MobyDick</div>
                    <div class="card-body text-warning">
                      <h5 class="card-title">Herman Melville</h5>
                      <h6 class="card-title">Published on:1961</h6>
                      <h6 class="card-title">price:540/-</h6>
                      <p class="card-text">First published in 1851, Melville's masterpiece is, in Elizabeth Hardwick's words, "the greatest novel in American literature." The saga of Captain Ahab and his monomaniacal pursuit of the white wh....</p>
                    </div>
                  </div>
                  <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Hamlet</div>
                    <div class="card-body text-info">
                      <h5 class="card-title">William Shakesphere</h5>
                      <h6 class="card-title">Published on:1961</h6>
                      <p class="card-text">The Tragedy of Hamlet, Prince of Denmark, or more simply Hamlet, is a tragedy by William Shakespeare, believed to have been written between 1599 and 1601. The play, set in Denmark, recounts how Pri....</p>
                    </div>
                  </div>
                  <div class="card border-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">War and Peace</div>
                    <div class="card-body">
                      <h5 class="card-title">Leo Tolstoy</h5>
                      <h6 class="card-title">Published on:1928</h6>
                      <h6 class="card-title">price:240/-</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">The Odessey</div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">Homer</h5>
                      <h6 class="card-title">Published on:1941</h6>
                      <h6 class="card-title">price:3640/-</h6>
                      <p class="card-text">Epic in scale, War and Peace delineates in graphic detail events leading up to Napoleon's invasion of Russia, and the impact of the Napoleonic era on Tsarist society, as seen through the eyes of fi...</p>
                    </div>
                  </div>
                  <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Madme Bovery</div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Gustave Flaubert</h5>
                          <h6 class="card-title">Published on:1921</h6>
                          <h6 class="card-title">price:740/-</h6>
                          <p class="card-text">The Odyssey is one of two major ancient Greek epic poems attributed to Homer. It is, in part, a sequel to the Iliad, the other work traditionally ascribed to Homer. The poem is fundamental to the m...</p>
                        </div>
                      </div>
                      <div class="card border-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">The Divine Comedy</div>
                            <div class="card-body text-dark">
                              <h5 class="card-title">Dante alighieri</h5>
                              <h6 class="card-title">published On:1923</h6>
                              <h6 class="card-title">price:1000/-</h6>
                              <p class="card-text">Belonging in the immortal company of the great works of literature, Dante Alighieri's poetic masterpiece, The Divine Comedy, is a moving human drama, </p>
                            </div>
                          </div>
</body>
</html>
