<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: burlywood">
                <nav class="navbar navbar-expand-sm bg-light navbar-light">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="/login">LOGIN</a>
                          </li>
                          <ul class="navbar-nav">
                                <li class="nav-item active">
                                  <a class="nav-link" href="/registration">REGISTRATION</a>
                                </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/home">HOME</a>
                          </li>
                        </ul>
                    </nav>
                    <div class="container">
                        <div class="row">
                            <div class="col col-12 col-sm-6 col-md-4"></div>
                            <div class="col col-12 col-sm-6 col-md-4">
                                <table class="table">
                                        <tr><td>NAME</td><td><input type="text" class="form-control"></td></tr>
                                        <tr><td>ADDRESS</td><td><textarea col="10" rows="5" class="form-control"></textarea></td></tr>
                                        <tr><td>GENDER</td><td><form action="">
                                                <input type="radio" name="gender" value="male"> Male
                                                <input type="radio" name="gender" value="female"> Female
                                                <input type="radio" name="gender" value="other"> Other
                                              </form></td></tr>
                                        <tr><td>DISTRICT</td><td><select class="form-control">
                                                <option value="select">select</option>
                                                <option value="trivandrum">trrivandrum</option>
                                                <option value="kollam">kollam</option>
                                                <option value="pathanamtitta">pathanamtitta</option>
                                                <option value="alapuzha">alapuzha</option>
                                                <option value="kottayam">kottayam</option>
                                                <option value="edukki">edukki</option>
                                                <option value="eranakulam">eranakulam</option>
                                                <option value="thrissur">thrissur</option>
                                                <option value="palakkad">palakkad</option>
                                                <option value="malapuram">malapuram</option>
                                                <option value="kozhikode">kozhikode</option>
                                                <option value="wayanad">wayanad</option>
                                                <option value="kannur">kannur</option>
                                                <option value="kasarkode">kasarkode</option>
                                              </select>
                                              </td></tr>
                                              <tr><td>D.O.B</td><td><input type="date" class="form-control"></td></tr>
                                              <tr><td>E-MAIL</td><td><input type="email"class="form-control"></td></tr>
                                              <tr><td>PASSWORD</td><td><input type="password"class="form-control"></td></tr>
                                              <tr><td>CONFIRM PASSWORD</td><td><input type="password"class="form-control"></td></tr>  
                                        <tr><td><button class="btn btn-success">RESET</button></td><td><button class="btn btn-warning">REGISTER</button></td></tr>
                
                                </table>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
</body>
</html>